.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page-container h1 {
  font-family: "Montserrat";
  margin-left: 10px;
  font-weight: bold;
  font-size: 55px;
}

.login-page-container span {
  margin-top: 30px;
  font-family: "Montserrat";
  color: white;
  font-size: 20px;
}

.login-page-container a {
  margin-top: 10px;
  font-family: "Montserrat";
  color: #6f01d3;
  font-size: 18px;
}

.login-page-container a:hover {
  color: white;
}
